html, body{
 background-color:#C77448; 
 height: 100%;
 margin: 0 auto;
}

#wrapper{
height: 100%;
margin: 0 auto;    
background-color:#C77448;
position: relative;
top: 0;

}

#header1{
background-color:#4F2222;
min-height: 15%;
min-width: 100%;
width: 95px;
position: relative;
top: 0;
left: 0;
right:0;
bottom:0;
}

#section{
outline: 1px solid #FFFFFF;
min-height: 100%;
min-width: 80%;
height: 1700px;
width: 800px;
position: relative;
top:0;
left: 10%;
right:10%;
bottom:0;
/*background-image: url(imagesweb/pattern.png)*/
}



#asideL{
min-height: 70%;
min-width: 10%;
height: 1700px;
outline: 1px solid #cc0000;
position: absolute;
top: 15%;
left: 0;
bottom: 15%;
/*background-image: url(imagesweb/pattern.png)*/
}

#asideR{
min-height: 70%; 
min-width: 10%;
height: 1700px;
outline: 1px solid #cc0000;
position: absolute;
top: 15%;
right: 0;
bottom: 15%;
/*background-image: url(imagesweb/pattern.png)*/
}

#footer{
min-height: 15%;
min-width: 100%;
width: 95px;
background-color:#4F2222;
position: relative;
bottom: 0; 
outline: 1px solid #FFFFFF;
}

#coffeedrinks{
 float: left;
 margin: 0 10px 10px 0;
}